{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} OTT Program Dashboard {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>

    <body>
        <header>
            <h1> <a href="{% url 'backends:index' %}">OTT Dashboard</a></h1>
            <nav>
                <a href="/admin/">관리자</a>
            </nav>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
        <p id="project_team_no"><b>DE07 Quad Core</b></p>
        <p>
            박제현 - parkjehyun0131@gmail.com |
            박채은 - pea1101ce@gmail.com |
            어선아 - aneoseo14@gmail.com |
            천준규 - june017323@gmail.com
        </p>
        <p><strong>Project Repository:</strong> 
        <a href="https://github.com/JehyunP/DE07_Project01" target="_blank">GitHub</a></p>

        <p>Data Source: <a href="https://flixpatrol.com/" target="_blank">FlixPatrol</a> &nbsp; | &nbsp; Powered by Django · Plotly · Bootstrap</p>

        <p>© 2025 OTT Trend Analysis Project.  
        학습 목적의 데이터 시각화 프로젝트입니다.</p>

        <p>Last Updated: 2025-10-10</p>
    </footer>
    </body>


    
</html>