{% extends 'backends/base_template.html' %}
{% block title %}서브 장르 프로그램 목록{% endblock %}
{% block content %}

<h1 class="text-center" style="margin-top:35px; margin-bottom: 40px; font-weight: 550">
  {{ half_year_display }} {{ subgenre.name }} 작품 목록
  <span style="color: gray; font-size: 0.4em; font-weight: normal;">※시청뷰수 기준<span>
</h1>

<div class="container">
  <div class="row g-3">
    {% for item in programs %}
      <div class="col-6 col-md-4 col-lg-2">
        <a href="{% url 'backends:detail' item.program.id %}" target="_blank" class="text-decoration-none">
          <!-- 카드 클릭 가능 -->
          <div class="card h-100 program-card" 
              data-program-id="{{ item.program.id }}"
              style="cursor: pointer;">
            <!-- 순위 -->
            <p class="text-center mt-2" style="margin-bottom: 8px; font-size: 20px; font-weight: bold;">
              {{ item.rank }}
            </p>

            <!-- 포스터 -->
            <img src="{{ item.program.poster }}" 
                alt="{{ item.program.title }} 포스터" 
                class="card-img-top" style="border-radius: 8px;">

            <div class="card-body text-center p-2">
              <h6 class="card-title mb-1">{{ item.program.title }}</h6>
              <p class="text-muted mb-1" style="font-size: 0.85em;">({{ item.program.release }})</p>
              <p class="small text-dark mb-0">시청뷰수: {{ item.views }}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <p>등록된 프로그램이 없습니다.</p>
    {% endfor %}
  </div>
</div>

<!-- 뒤로가기 버튼 -->
<a href="{% url 'backends:genre_distribution' half_year %}" class="back-card">
  <div class="back-card-body">
      ← 뒤로가기
  </div>
</a>

{% endblock %}