/* --------------------
    Default Setting
-------------------- */
body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* --------------------
    Header 
-------------------- */
header {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           
    padding: 15px 30px;
    background-color: #2c3e50;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

header h1 a {
    text-decoration: none;  
    color: #ecf0f1;     
}

header nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: #1abc9c;
}

/* --------------------
    Main Body
-------------------- */
main {
    padding: 20px;
    min-height: 70vh; 
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: none;
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 15px;
}

/* --------------------
    Footer
-------------------- */
footer {
    text-align: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: 50px;
}
footer a {
    color: #1abc9c;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}



/*
    Genre_ranking_trend
*/

/* 카드 스타일 */
.chart-card {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 12px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
}

/* Plotly 차트 크기 */
.js-plotly-plot {
    width: 100% !important;
    height: 600px !important;  /* 필요하면 조절 가능 */
}